//- Navbar mixins
mixin nav(name, id, style)
    nav( role="navigation", class="navbar navbar-default" )
        .navbar-header
            button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#" + id, aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/")= name

        .collapse.navbar-collapse( id=id )
            ul.nav.navbar-nav
                block

mixin nav_item(href, active)
    li(class=active): a( href=href )
        block

mixin nav_item_dropdown(href, active)
    li(class=["dropdown", active])
        a.dropdown-toggle( href=href, data-toggle="dropdown", role="button", aria-expanded="false" )= attributes.label
            span.caret
        ul.dropdown-menu( role="menu" )
            block

mixin nav_divider
    li.divider

mixin nav_header
    li.dropdown-header
        block

//- End navbar mixins


//dev only
mixin lorem
    p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut mi ut dolor convallis iaculis.
        Duis nibh massa, auctor vitae dignissim quis, faucibus eu elit. Mauris sit amet pharetra orci,
        quis vulputate erat. Fusce maximus enim imperdiet bibendum hendrerit. Donec luctus nunc est,
        eu vehicula erat elementum in. Pellentesque imperdiet et est at lobortis. Maecenas non nulla enim.
        Nullam ut mi eleifend, fringilla tellus in, sodales lorem. Nullam dapibus quis felis at lacinia.
        Suspendisse vestibulum porta odio, id condimentum nisi bibendum vel. Donec tempus ipsum orci,
        eu suscipit dui pharetra id.

//dev-end