mixin cnfe-dependecyBlock(packageClassInfo)
    #dependencyTabs
        ul.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
                a(href='#dependencyGradle', aria-controls='gradle', role='tab', data-toggle='tab') Gradle
            li(role='presentation')
                a(href='#dependencyMaven', aria-controls='profile', role='tab', data-toggle='tab') Maven
            li(role='presentation')
                a(href='#dependencySbt', aria-controls='messages', role='tab', data-toggle='tab') Sbt

        .tab-content
            #dependencyGradle.tab-pane.active(role='tabpanel')
                h6 Simplified form
                pre '#{packageClassInfo.getPackageArtifactId()}:#{packageClassInfo.getPackageGroupId()}:#{packageClassInfo.getPackageVersion()}'

                h6 Extended form
                pre name: '#{packageClassInfo.getPackageArtifactId()}', groupId: '#{packageClassInfo.getPackageGroupId()}', version: '#{packageClassInfo.getPackageVersion()}'

            #dependencyMaven.tab-pane(role='tabpanel')
                br
                pre.
                    &lt;dependency&gt;
                        &lt;groupId&gt;#{packageClassInfo.getPackageGroupId()}&lt;/groupId&gt;
                        &lt;artifactId&gt;#{packageClassInfo.getPackageArtifactId()}&lt;/artifactId&gt;
                        &lt;version&gt;#{packageClassInfo.getPackageVersion()}&lt;/version&gt;
                    &lt;/dependency&gt;

            #dependencySbt.tab-pane(role='tabpanel')
                br
                pre.
                    libraryDependencies += "#{packageClassInfo.getPackageGroupId()}" % "#{packageClassInfo.getPackageArtifactId()}" % "#{packageClassInfo.getPackageVersion()}"

