mixin cnfe-dependecyBlock(packageClassInfo)
    #dependencyTabs
        ul.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
                a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Gradle
            li(role='presentation')
                a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Maven
            li(role='presentation')
                a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Grails

        .tab-content
            #home.tab-pane.active(role='tabpanel')
                h6 Simplified form
                p #{packageClassInfo.getPackageArtifactId()}:#{packageClassInfo.getPackageGroupId()}:#{packageClassInfo.getPackageVersion()}

                h6 Extended form
                p name: '#{packageClassInfo.getPackageArtifactId()}', groupId: '#{packageClassInfo.getPackageGroupId()}', version: '#{packageClassInfo.getPackageVersion()}'
            #profile.tab-pane(role='tabpanel') profile
            #messages.tab-pane(role='tabpanel') messages.

